$menu-background-color: #305497 !default;
$menu-text-color: #ffffff !default;
$menu-border-color: #1E4E79 !default;
$menu-border-width: 1px !default;
$menu-border-style: solid !default;
$menu-item-active-background-color: #000066 !default;
$menu-item-active-border-color: #305497 !default;
$menu-item-active-border-radius : 1px !default;
$menu-item-height: 30px !default;
$menu-item-text-horizontal-spacing: 8px !default;
$menu-item-arrow-horizontal-spacing: 0px 0px !default;
$menu-item-icon-horizontal-spacing: 0 !default;
$menu-item-font-family: Arial Narrow !default;
$menu-item-font-size : 12px !default;
$menu-item-arrow-width: 0px !default;
$menu-item-border-width: 1px !default;
